---
layout: default
---

<!-- 좋은 효과를 가진 background style 코드-->
<div style="background: url(/assets/images/blog_back_2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
  <img src="/assets/images/hojun_main.jpg" style="width: 30%; display:block; margin-left:auto; margin-right:auto; padding-top:8%">
  <p style="text-align: center; font-size:xx-large; color:white;"><b>안녕하세요!</b></p>
  <p style="text-align: center; font-size:xx-large; color:white;"><b>자비스 만들고 싶은 Juneer 입니다!</b></p>
</div>

{{ content }}

<!-- <h3 class="archive__subtitle" style="text-align: center;">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h1 class="archive__subtitle" style="text-align: center;">자비스 기반 마련중..</h1>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}" style="text-align: center;">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<div style="width: fit-content; margin-left: auto; margin-right: auto;">
{% include paginator.html %}
</div>
